@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');
$font-families: (
    sofia-sans: ('Sofia Sans', sans-serif),
    courier-new: ('Courier New', Courier, monospace),
    verdana: (Verdana, Geneva, Tahoma, sans-serif),
    oswald: ("Oswald", sans-serif)
);
$default-font: map-get($font-families, sofia-sans);
